<div class="container mx-auto">
    <div class="flex flex-wrap justify-center items-center my-4 md:-mx-4">
        <form [formGroup]="form" (ngSubmit)="postLogin()" class="w-1/2">
            <div class="mb-6">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your
                    email</label>
                <input type="email" formControlName="email"
                    [ngClass]="{ 'bg-red-50 border-red-500 text-red-900 focus:ring-red-500 focus:border-red-500': f['email'].invalid && (f['email'].touched || f['email'].dirty) && f['email'].errors,
                                'bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': f['email'].valid }"
                    class="block w-full p-2.5 text-sm rounded-lg border" placeholder="name@flowbite.com" required="">
                <div *ngIf="f['email'] && (f['email'].touched || f['email'].dirty)">
                    <div *ngIf="f['email'].errors">
                        <p *ngIf="f['email'].errors['required']" class="mt-2 text-sm text-red-600 dark:text-red-500">
                            <span class="font-medium">Oops!</span> Email is required
                        </p>
                        <p *ngIf="f['email'].errors['email']" class="mt-2 text-sm text-red-600 dark:text-red-500">
                            <span class="font-medium">Oops!</span> Format email wrong
                        </p>
                    </div>
                </div>
            </div>
            <div class="mb-6">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your
                    password</label>
                <input type="password" formControlName="password"
                    [ngClass]="{ 'bg-red-50 border-red-500 text-red-900 focus:ring-red-500 focus:border-red-500': f['password'].invalid && (f['password'].touched || f['password'].dirty) && f['password'].errors,
                                'bg-gray-50 border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500': f['password'].valid }"
                    class="block w-full p-2.5 text-sm rounded-lg border" required="">
                <div *ngIf="f['password'].invalid && (f['password'].touched || f['password'].dirty)">
                    <div *ngIf="f['password'].errors" class="invalid-feedback">
                        <p *ngIf="f['password'].errors['required']" class="mt-2 text-sm text-red-600 dark:text-red-500">
                            <span class="font-medium">Oops!</span> Password is
                            required
                        </p>
                        <p *ngIf="f['password'].errors['minlength']"
                            class="mt-2 text-sm text-red-600 dark:text-red-500">
                            Password must not exceed 6 characters</p>
                        <p *ngIf="f['password'].errors['maxlength']"
                            class="mt-2 text-sm text-red-600 dark:text-red-500">
                            Password must not exceed 15 characters</p>
                    </div>
                </div>
            </div>
            <div class="flex items-start mb-6">
                <div class="flex items-center h-5">
                    <input id="remember" type="checkbox" value=""
                        class="w-4 h-4 bg-gray-50 rounded border border-gray-300 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                        required="">
                </div>
                <label for="remember" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember
                    me</label>
            </div>
            <button type="submit"
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>
    </div>
</div>