<a href="#"
    class="w-full flex flex-col items-start bg-white rounded-lg border shadow-md md:flex-row hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
    <img class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
        src="https://i.pinimg.com/564x/8d/fa/37/8dfa37209853471839a7c4306a40713e.jpg" alt="{{ item.hero_name }}">
    <div class="flex flex-col justify-between p-4 leading-normal">
        <span
            class="w-fit bg-red-100 text-red-800 text-xs font-semibold mb-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">{{
            item.hero_role }}</span>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ item.hero_name }}</h5>
        <p class="font-normal text-sm text-gray-700 dark:text-gray-400">Lorem ipsum dolor sit amet consectetur,
            adipisicing
            elit. Corrupti ipsa fugit placeat sed eaque labore aut commodi quas voluptates dolores.</p>
    </div>
</a>